/* App.css */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header, .footer {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

.main-content {
  height: 100%;
}

.split {
  display: flex;
  height: 100%;
}

.dialog-section {
  padding: 1rem;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.map-section {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-section .leaflet-container {
  height: 100% !important;
  width: 100% !important;
}

.split > .gutter {
  background-color: #ddd;
  cursor: col-resize;
  width: 5px;
}
